html,
body {
    font-family: 'Lato', sans-serif;
    background-color: #f3f7f2;
    height: 100%;
    margin: 0;
    padding: 0;
}

section,
article {
    margin-bottom: 40px;
}

h1,
h2,
h3 {
    margin: 0;
    color: #BD605C;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;    
}

    h1 {
        font-size: 30px;
        font-weight: bold;
***REMOVED***

    h2 {
        font-size: 24px;
***REMOVED***

p {
    font-size: 18.5px;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 16px; 
}

/* NAVBAR */
#navbar {
    height: 64px;
    background-color: #BD605C;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}

    #navbar header h1{
        margin: 0;
        float: left;
        padding: 14px 20px;
        font-size: 28px;
        font-weight: normal;
        text-decoration: none;
***REMOVED***

    #navbar header h1 a {
        text-decoration: none;
        color: white;
***REMOVED***

    #navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
***REMOVED***

    #navbar ul li {
        float: right; 
***REMOVED***

    #navbar ul li a {
        display: inline-block;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding: 22px 18px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 15px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        cursor: pointer;
***REMOVED***

    #navbar ul li a:hover {
        background-color: rgba(0, 0, 0, 0.1);
***REMOVED***

/* HEAD CONTENT */
#intro {
    width: 100%;
    height: calc(100% - 64px);
    padding-top: 64px;
    background: no-repeat center url("http://cdn.history.com/sites/2/2015/04/hith-father-christmas-lights-iStock_000029514386Large.jpg");
    background-color: rgba(0, 0, 0, 0.1);
}
    #intro .box {
        /*text-shadow: 3px 3px rgba(0, 0, 0, 0.5);*/
        text-align: center;
        background-color: rgba(35, 73, 38, 0.55);
        height: 100%;
        width: 100%;
***REMOVED***

    #intro .box .mdl-card {
        top: 10%;
        bottom: 10%;
        width: 80%;
        height: 80%;
        vertical-align: middle;
        display: inline-block;
***REMOVED***

    #intro .box h1 {
        top: 20%;
        font-size: 5em;
        bottom:20%;
***REMOVED***

    #intro .box h2 {
        padding-top: 220px;
        color: white;
        font-weight: normal;
        font-size: 72px;

***REMOVED***

/* CONTENT */
.content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
    .content img {
        width:100%;
***REMOVED***

/* FOOTER */
footer {
    background-color: #AD4642;
    height: 40px;
    bottom: 0;
}
    footer span {
        padding: 10px 0px;
        color: white;
***REMOVED***


/* CLASSES */
.overlay-green {
    /*background-color: rgba(136, 189, 92, 0.85);*/
    /*background-color: rgba(63, 132, 63, 0.5);*/
    background-color: rgba(35, 73, 38, 0.55);
    height: 100%;
    width: 100%;
}

.shadow-light {
    box-shadow: 0px 4px 15px #D6D6D6;
}
    .shadow-dark {
        box-shadow: 0px 4px 15px #3a3b3d;
***REMOVED***

.flip1 {
    order: 1;
}
    .flip2 {
        order: 2;
***REMOVED***


/* MEDIA */
@media only screen and (max-width: 990px) {
    #navbar header h1 {
        font-size: 20px;
        text-align: center;
        float: none;
        padding: 18px 0;
***REMOVED***

    #nav-desk {
        display: none;
***REMOVED***

    .content img {
        width:80%;
        margin: 0 auto;
        display: flex;
***REMOVED***

    #intro {
        height: 400px;
***REMOVED***

        #intro .box h1 {
            padding-top: 130px;
            font-size: 120px;
    ***REMOVED***

        #intro .box h2 {
            display: none;
    ***REMOVED***
    .flip {
        display: flex;
        flex-flow: column;    
***REMOVED***
    .flip1 {
        order: 2;
***REMOVED***
    .flip2{
        order: 1;
***REMOVED***
}





.thing {
    
    top: 100px;
    margin: 0 auto;
    width: 100%;
}

.thing .mdl-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}