html,
body {
    font-family: 'Lato', sans-serif;
    background-color: #f3f7f2;
    height: 100%;
    margin: 0;
    padding: 0;
}

section,
article {
    margin-bottom: 40px;
}
    section.modal {
        margin-bottom: 0;
***REMOVED***

h1,
h2,
h3,
h4 {
    margin: 0;
    color: #BD605C;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;    
}

    h1 {
        font-size: 30px;
        font-weight: bold;
***REMOVED***

    h2 {
        font-size: 24px;
***REMOVED***

p {
    font-size: 18.5px;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 16px; 
}

/* NAVBAR */
#navbar {
    height: 64px;
    background-color: #BD605C;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}

    #navbar h1 {
        margin: 0;
        float: left;
        padding: 14px 20px;
        font-size: 28px;
        font-weight: normal;
        text-decoration: none;
***REMOVED***

    #navbar h1 a {
        text-decoration: none;
        color: white;
***REMOVED***

    #navbar ul,
    #nav-mobile-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
***REMOVED***

    #navbar ul li {
        float: right; 
***REMOVED***

    #navbar ul li a {
        display: inline-block;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding: 22px 18px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 15px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        cursor: pointer;
***REMOVED***

    #navbar ul li a:hover,
    #nav-mobile-menu ul li a:hover {
        background-color: rgba(0, 0, 0, 0.1);
***REMOVED***

#nav-mobile {
    margin-top: -42px;
    padding: 0 15px;
    display: none;
}

    #nav-mobile a,
    #nav-mobile .material-icons,
    #nav-mobile-menu a,
    #navbar h1 a {
        color: rgba(255, 255, 255, 1); 
        text-decoration: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
***REMOVED***

    #nav-mobile-menu .mdl-dialog {
        background-color: #BD605C;
        width: 56dp;
        max-width: 100%;
        height: 100%;
***REMOVED***
        #nav-mobile-menu .mdl-dialog .shadow {
            background-color: #BD605C;
            min-height: 100%;
    ***REMOVED***
        #nav-mobile-menu h4 a{
            padding-top: 20px;
            text-decoration: none;
            color: white;
    ***REMOVED***

        #nav-mobile-menu .material-icons {
            margin: -95px 20px 0 0;
            float: right;
            font-size: 24px;
    ***REMOVED***

        #nav-mobile-menu.fade {
            animation-name: fadeleft;
            animation-duration: 0.5s;
    ***REMOVED***

        #nav-mobile-menu .mdl-dialog__content {
            padding: 20px 0 24px 0;
    ***REMOVED***

        #nav-mobile-menu ul li a {
            display: inline-block;
            color: white;
            vertical-align: middle;
            width: calc(100% - 24px);
            padding: 22px 0 22px 24px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 24px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            cursor: pointer;
    ***REMOVED***

/* HEADER */
header {
    width: 100%;
    height: calc(100% - 64px);
    padding-top: 64px;
    background: no-repeat center url("../img/header.jpg");
}
    header .box {
        text-align: center;
        background-color: rgba(35, 73, 38, 0.55);
        height: 100%;
        width: 100%;
***REMOVED***

    header .box .mdl-card {
        top: 10%;
        bottom: 10%;
        width: 80%;
        height: 80%;
        vertical-align: middle;
        display: inline-block;
***REMOVED***

    header .box h1 {
        top: 20%;
        font-size: 6em;
        bottom:20%;
        color: white;
***REMOVED***

    header .box h2 {
        padding-top: 220px;
        color: white;
        font-weight: bold;
        font-size: 92px;
***REMOVED***

    header .box h3 {
        color: white;
***REMOVED***

/* HIGHLIGHT */
#highlight {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

    #highlight .mdl-card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 15px #CACFD9;
***REMOVED***

    #highlight .mdl-card img {
        box-shadow: 1px 1px 15px #8C9496;
        width:100%;
***REMOVED***

/* FOOTER */
footer {
    background-color: #AD4642;
    height: 40px;
    bottom: 0;
}
    footer span {
        padding: 10px 0px;
        color: white;
***REMOVED***


/* CLASSES */
.content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.overlay-green {
    background-color: rgba(35, 73, 38, 0.55);
    height: 100%;
    width: 100%;
}

.shadow {
    box-shadow: 0px 4px 15px #3a3b3d;
}

.flip1 {
    order: 1;
}


    .flip2 {
        order: 2;
***REMOVED***

#register .mdl-dialog,
#login .mdl-dialog,
#success .mdl-dialog {
    background-color: white;
    margin: 80px auto 0 auto;
    width:80%;
    max-width: 650px;
}
    #login .mdl-dialog {
        max-width: 450px;
***REMOVED***
    #success .mdl-dialog {
        max-width: 500px;
***REMOVED***
    #success .mdl-dialog p {
        font-size: 16px;
***REMOVED***

#register .mdl-dialog__content,
#login .mdl-dialog__content,
#succes .mdl-dialog__content {
    color: rgba(0,0,0,.87);
}

.modal-margin {
    padding: 0 50px 25px 50px;
}

.mdl-textfield {
    width: 100%;
}


/* MEDIA */
@media only screen and (min-height: 900px) {
    header .box h2 {
        padding-top: 300px;
***REMOVED***
}

@media only screen and (max-height: 600px) {
    header .box h2 {
        padding-top: 130px;
***REMOVED***
}

@media only screen and (max-width: 1400px) {
    p {
        font-size: 16px;
***REMOVED***
}

@media only screen and (max-width: 1250px) {
    p {
        font-size: 15px;
***REMOVED***
    #highlight .mdl-card {
        min-width: 100%;
***REMOVED***
}

@media only screen and (max-width: 990px) {
    #navbar h1 {
        font-size: 20px;
        text-align: center;
        float: none;
        padding: 18px 0;
***REMOVED***

    #nav-desk {
        display: none;
***REMOVED***

    #nav-mobile {
        display: block;
***REMOVED***

    .modal-margin {
        padding: 0 0 25px 0;
***REMOVED***

    .content img {
        width:80%;
        margin: 0 auto;
        display: flex;
***REMOVED***

    /*header {
        height: 400px;
***REMOVED****/

        header .box h1 {
            padding-top: 60px;
            font-size: 120px;
    ***REMOVED***

        header .box h2 {
            display: none;
    ***REMOVED***

    .flip {
        display: flex;
        flex-flow: column;    
***REMOVED***
    .flip1 {
        order: 2;
***REMOVED***
        .flip2{
            order: 1;
    ***REMOVED***
}

@media only screen and (max-width: 650px) {
    #register,
    #login,
    #success {
        padding: 0 15px;
***REMOVED***

    #register .mdl-dialog,
    #login .mdl-dialog,
    #success .mdl-dialog {
        min-width:100%;
***REMOVED***

    .mdl-switch {
        margin-bottom: 0;
***REMOVED***
}

.fade {
    animation-name: fadedown;
    animation-duration: 0.5s;
}

@keyframes fadedown {
    from {margin-top: -100px;}
    to {margin-top: 0;}
}

@keyframes fadeleft {
    from {margin-left: -100px;}
    to {margin-left: 0;}
}

@keyframes faderight {
    from {margin-left: 100px;}
    to {margin-left: 0;}
}