html,
body {
    font-family: 'Lato', sans-serif;
    background-color: #f3f7f2;
    height: 100%;
    margin: 0;
    padding: 0;
}

section,
article {
    margin-bottom: 40px;
}
    section.modal {
        margin-bottom: 0;
***REMOVED***

h1,
h2,
h3,
h4 {
    margin: 0;
    color: #BD605C;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;    
}

    h1 {
        font-size: 30px;
        font-weight: bold;
***REMOVED***

    h2 {
        font-size: 24px;
***REMOVED***

p {
    font-size: 18.5px;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 16px;
}

/* NAVBAR */
#navbar {
    height: 64px;
    margin-left: 72px;
    background-color: #BD605C;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s;
}
    #navbar.toggle {
        margin-left: 270px;
        transition: 0.3s;
***REMOVED***

    #navbar h1{
        margin: 0;
        float: left;
        padding: 14px 20px;
        font-size: 28px;
        font-weight: normal;
        text-decoration: none;
***REMOVED***

    #navbar h1 a {
        text-decoration: none;
        color: #FFF;
***REMOVED***

    #navbar ul,
    #nav-mobile-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
***REMOVED***

    #navbar ul li {
        float: right; 
***REMOVED***

    #nav-mobile {
        margin-top: -42px;
        padding: 0 15px;
        display: none;
***REMOVED***

        #nav-mobile a,
        #nav-mobile .material-icons,
        #nav-mobile-menu .material-icons a {
            color: rgba(255, 255, 255, 1); 
            text-decoration: none;
    ***REMOVED***
        #nav-mobile-menu .mdl-dialog {
            background-color: #335052;
            width: 56dp;
            /*width: 320px;*/
            max-width: 100%;
            height: 100%;
    ***REMOVED***

            #nav-mobile-menu h4 a{
                padding-top: 20px;
                text-decoration: none;
                color: white;
        ***REMOVED***

            #nav-mobile-menu .material-icons {
                margin: -95px 20px 0 0;
                float: right;
                font-size: 24px;
        ***REMOVED***

            #nav-mobile-menu.fade {
                animation-name: fadeleft;
                animation-duration: 0.5s;
        ***REMOVED***

            #nav-mobile-menu .mdl-dialog__content {
                padding: 20px 0 24px 0;
        ***REMOVED***

            #nav-mobile-menu ul li a {
                display: inline-block;
                color: white;
                vertical-align: middle;
                width: calc(100% - 24px);
                padding: 22px 0 22px 24px;
                text-decoration: none;
                transition: 0.3s;
                font-size: 24px;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                cursor: pointer;
        ***REMOVED***

/* SIDEBAR */
#sidebar {
    width: 72px;
    background-color: #335052;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s;
}
    #sidebar .extended {
        display: none;
***REMOVED***

    #sidebar.toggle {
        width: 270px;
        transition: 0.3s;
***REMOVED***

    #sidebar.toggle .extended {
        display: flex;
        text-transform: uppercase;
        padding: 22px 0 16px 24px;
        font-size: 22px;
        letter-spacing: 1.5px;
***REMOVED***

    .toggle #sidebar-menu li,
    .toggle #sidebar-top li,
    .toggle #sidebar-bottom li {
        display: inline-flex;
        width: 100%;
***REMOVED***

    #sidebar-menu ul,
    #sidebar-top ul,
    #sidebar-bottom ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
***REMOVED***

    #sidebar-menu ul li a,
    #sidebar-top ul li a,
    #sidebar-bottom ul li a {
        display: inline-block;
        color: white;
        vertical-align: middle;
        width: 100%;
        padding: 17px 0 16px 20px;
        font-size: 32px;
        text-decoration: none;
***REMOVED***

    #sidebar-menu ul li,
    #sidebar-top ul li,
    #sidebar-bottom ul li {
        cursor: pointer;
***REMOVED***

    #sidebar-menu ul li.disable a {
        cursor: default;
***REMOVED***

    #sidebar-menu ul li:hover {
        background-color: rgba(0, 0, 0, 0.1);
***REMOVED***

    #sidebar-menu ul li.disable a {
        color: #71888A;
        
***REMOVED***

    #sidebar-menu ul li.disable:hover {
        background-color: #335052;
        cursor: default;
***REMOVED***

    #sidebar-top a {
        background-color: #284142;
***REMOVED***

    #sidebar-bottom {
        bottom: 0;
        position: fixed;
***REMOVED***

/* DIRECTIVE CARDS */
#directive-cards {
    padding-top: 90px;
    margin-left: 72px;
    transition: 0.3s;
}
    #directive-cards.toggle {
        margin-left: 270px;
        transition: 0.3s;
***REMOVED***

    #directive-cards h1 {
        font-weight: normal;
        margin-bottom: 10px;
***REMOVED***

    #directive-cards .mdl-card {
        box-shadow: 0px 0px 15px #CACFD9;
        width: 90%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-bottom: 10px;
***REMOVED***

    #directive-cards .mdl-card__title {
        color: #fff;
        height: 176px;
***REMOVED***

    #directive-cards .mdl-card__title-text {
        font-weight: bold;
        font-size: 35px;
***REMOVED***

    #directive-cards .mdl-card__supporting-text {
        color: rgba(0, 0, 0, 0.87);
        width: 90%;
        margin: 20px auto;
        padding: 0;
***REMOVED***

    #directive-cards .header-title {
        background-color: rgba(35, 73, 38, 0.55);
        margin-top: -176px;
***REMOVED***

    #directive-cards .header-1 {
        background: url('https://stormideaswus.blob.core.windows.net/headerjunction/2014/91/6d2380c6-00e3-4f58-a911-c8aa98afa460.jpg') center / cover;
***REMOVED***

    #directive-cards .header-2 {
        background: url('https://stormideaswus.blob.core.windows.net/headerjunction/2014/91/ebf307a3-5c95-42be-9301-2be499d3a110.jpg') center / cover;
***REMOVED***

    #directive-cards .header-5 {
        background: url('https://www.drupal.org/files/issues/header_1.png') center / cover;
***REMOVED***

/* CLASSES */
.content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.shadow {
    box-shadow: 0px 4px 15px #3a3b3d;
}

/* MEDIA */

@media only screen and (max-width: 1250px) {
    p {
        font-size: 16px;
***REMOVED***
}

@media only screen and (max-width: 750px) {
    #navbar,
    #directive-cards,
    #navbar.toggle,
    #directive-cards.toggle {
        margin-left: 0;
***REMOVED***

    #navbar h1 {
        font-size: 20px;
        text-align: center;
        float: none;
        padding: 18px 0;
***REMOVED***
    
    #nav-mobile {
        display: block;
***REMOVED***

    #sidebar {
        display: none;
***REMOVED***
}

#logout .mdl-dialog {
    background-color: white;
    margin: 80px auto 0 auto;
    width:80%;
    max-width: 650px;
}
    #logout .mdl-dialog {
        max-width: 450px;
***REMOVED***

.fade {
    animation-name: fadedown;
    animation-duration: 0.5s;
}

@keyframes fadedown {
    from {margin-top: -100px;}
    to {margin-top: 0;}
}

@keyframes fadeleft {
    from {margin-left: -100px;}
    to {margin-left: 0;}
}