html,
body {
    font-family: 'Lato', sans-serif;
    background-color: #f3f7f2;
    height: 100%;
    margin: 0;
    padding: 0;
}

section,
article {
    margin-bottom: 40px;
}
    section.modal {
        margin-bottom: 0;
***REMOVED***

h1,
h2,
h3,
h4 {
    margin: 0;
    color: #BD605C;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;    
}

    h1 {
        font-size: 30px;
        font-weight: bold;
***REMOVED***

    h2 {
        font-size: 24px;
***REMOVED***

p {
    font-size: 18.5px;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 16px;
}

/* NAVBAR */
#navbar {
    height: 64px;
    margin-left: 64px;
    background-color: #BD605C;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}

    #navbar h1{
        margin: 0;
        float: left;
        padding: 14px 20px;
        font-size: 28px;
        font-weight: normal;
        text-decoration: none;
***REMOVED***

    #navbar h1 a {
        text-decoration: none;
        color: #FFF;
***REMOVED***

    #navbar ul,
    #nav-mobile-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
***REMOVED***

    #navbar ul li {
        float: right; 
***REMOVED***

    #nav-mobile {
        margin-top: -42px;
        padding: 0 15px;
        display: none;
***REMOVED***

        #nav-mobile a,
        #nav-mobile .material-icons,
        #nav-mobile-menu .material-icons a {
            color: rgba(255, 255, 255, 1); 
            text-decoration: none;
    ***REMOVED***

/* SIDEBAR */
#sidebar {
    width: 72px;
    background-color: #335052;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

    #sidebar-menu ul,
    #sidebar-top i,
    #sidebar-bottom i {
        list-style-type: none;
        margin: 0;
        padding: 0;
***REMOVED***

    #sidebar-menu ul li a,
    #sidebar-top i a,
    #sidebar-bottom i a {
        display: inline-block;
        color: white;
        vertical-align: middle;
        width: 100%;
        padding: 17px 0 16px 20px;
        font-size: 32px;
        text-decoration: none;
        cursor: pointer;
***REMOVED***

    #sidebar-menu ul li a:hover,
    #sidebar-bottom ul li a:hover {
        background-color: rgba(0, 0, 0, 0.1);
***REMOVED***

    #sidebar-menu ul li a.disable {
        color: #71888A;
        cursor: default;
***REMOVED***

    #sidebar-menu ul li a.disable:hover {
        background-color: rgba(0, 0, 0, 0);
***REMOVED***

    #sidebar-top i a {
        background-color: #284142;
***REMOVED***

    #sidebar-bottom {
        bottom: 0;
        position: fixed;
***REMOVED***

/* DIRECTIVE CARDS */
#directive-cards {
    padding-top: 90px;
    margin-left: 72px;
}
    #directive-cards h1 {
        font-weight: normal;
        margin-bottom: 10px;
***REMOVED***

    #directive-cards .mdl-card {
        box-shadow: 0px 0px 15px #CACFD9;
        width: 90%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-bottom: 10px;
***REMOVED***

    #directive-cards .mdl-card__title {
        color: #fff;
        height: 176px;
***REMOVED***

    #directive-cards .mdl-card__title-text {
        font-weight: bold;
        font-size: 35px;
***REMOVED***

    #directive-cards .mdl-card__supporting-text {
        color: rgba(0, 0, 0, 0.87);
        width: 90%;
        margin: 20px auto;
        padding: 0;
***REMOVED***

    #directive-cards .header-title {
        background-color: rgba(35, 73, 38, 0.55);
        margin-top: -176px;
***REMOVED***

    #directive-cards .header-1 {
        background: url('https://stormideaswus.blob.core.windows.net/headerjunction/2014/91/6d2380c6-00e3-4f58-a911-c8aa98afa460.jpg') center / cover;
***REMOVED***

    #directive-cards .header-2 {
        background: url('https://stormideaswus.blob.core.windows.net/headerjunction/2014/91/ebf307a3-5c95-42be-9301-2be499d3a110.jpg') center / cover;
***REMOVED***

    #directive-cards .header-5 {
        background: url('https://www.drupal.org/files/issues/header_1.png') center / cover;
***REMOVED***

/* CLASSES */
.content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.shadow {
    box-shadow: 0px 4px 15px #3a3b3d;
}

/* MEDIA */

@media only screen and (max-width: 1250px) {
    p {
        font-size: 16px;
***REMOVED***
}

@media only screen and (max-width: 750px) {
    #navbar,
    #directive-cards {
        margin-left: 0;
***REMOVED***

    #navbar h1 {
        font-size: 20px;
        text-align: center;
        float: none;
        padding: 18px 0;
***REMOVED***
    
    #nav-mobile {
        display: block;
***REMOVED***

    #sidebar {
        display: none;
***REMOVED***
}

#logout .mdl-dialog {
    background-color: white;
    margin: 80px auto 0 auto;
    width:80%;
    max-width: 650px;
}
    #logout .mdl-dialog {
        max-width: 450px;
***REMOVED***

.fade {
    animation-name: fadedown;
    animation-duration: 0.5s;
}

@keyframes fadedown {
    from {margin-top: -100px;}
    to {margin-top: 0;}
}